#home-clinic {
  padding: 0 0 70px;

  .content {

    h2 {
      font-weight: 600;
      font-size: 24px;
      color: #202020;
      font-style: normal;
      line-height: 36px; /* 150% */
      margin-bottom: 12px;
      width: 60%;
    }

    p {
      color: #727272;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      margin-bottom: 20px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      border: 1px solid #003778;
      padding: 7.5px 20px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.54), #0063a6 100%, #0b93ef 100%);
      -webkit-background-clip: text;

    }

    @media screen and (max-width: 576px) {
      width: 100%;
      h2 {
        font-size: 20px;
        line-height: 30px; /* 150% */
      }
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 60px;
    padding: 0 16px;
    @media screen and (max-width: 576px) {
      display: block;
    }


    @media screen and (max-width: 576px) {
      margin-bottom: 32px;
    }

    .navigationBtn {
      display: flex;
      align-items: center;
      gap: 8px;
      @media screen and (max-width: 576px) {
        display: none;
      }

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        cursor: pointer;

        border: 0.864px solid #003778;
        background: #FFF;
        transition: all 0.2s ease-in-out;

        &:hover {
          border: 1px solid #003778;
          background: #EBF5FF;
          box-shadow: 0 1px 4px 0 rgba(60, 60, 60, 0.25);
        }
      }
    }
  }

  .slider-wrapper {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }

  .slider-card {
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% * 6 / 6); /* 6 cards, 4 visible on desktop */
    transition: transform 0.3s ease-in-out;

    @media screen and (max-width: 576px) {
      width: calc(100% * 6 / 3); /* 6 cards, 2 visible on mobile */
    }
  }

  .slider-card > * {
    flex: 0 0 25%; /* 4 cards visible on desktop (100% / 4) */
    box-sizing: border-box;
    padding: 0 10px;

  }

  .custom-pagination {
    text-align: center;
    margin-top: 60px;
    display: none;

    @media screen and (max-width: 576px) {
      margin-top: 30px;
      display: block;
    }
  }

  .custom-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background: none;
    border: 0.76px solid #D3D3D3;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    @media screen and (max-width: 576px) {
      width: 8px;
      height: 8px;
    }
  }

  .custom-bullet.active {
    background: #00DA7B;
  }
}