#home-clinic {
  padding: 0 0 70px;


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 0 16px;
    @media screen and (max-width: 576px) {
      display: block;
    }

    .content {
      width: 64%;

      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 60px;
        margin-bottom: 8px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        color: #727272;
      }

      @media screen and (max-width: 576px) {
        width: 100%;
        h2{
          font-size: 20px;
          line-height: 30px; /* 150% */
        }
        p{
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
      }
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 32px;
    }

    .navigationBtn {
      display: flex;
      align-items: center;
      gap: 8px;
      @media screen and (max-width: 576px) {
        display: none;
      }

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 16px;
        cursor: pointer;

        &.prev {
          background-color: white;
          border: 1px solid #303030;
          color: #303030;
        }

        &.next {
          background-color: #1f1f1f;
          color: #fff;
        }
      }
    }
  }

  .slider-wrapper {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }

  .slider-card {
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% * 6 / 6); /* 6 cards, 4 visible on desktop */
    transition: transform 0.3s ease-in-out;

    @media screen and (max-width: 576px) {
      width: calc(100% * 6 / 3); /* 6 cards, 2 visible on mobile */
    }
  }

  .slider-card > * {
    flex: 0 0 25%; /* 4 cards visible on desktop (100% / 4) */
    box-sizing: border-box;
    padding: 0 10px;

  }

  .custom-pagination {
    text-align: center;
    margin-top: 60px;
    display: none;

    @media screen and (max-width: 576px) {
      margin-top: 30px;
      display: block;
    }
  }

  .custom-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background: none;
    border: 0.76px solid #D3D3D3;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    @media screen and (max-width: 576px) {
      width: 8px;
      height: 8px;
    }
  }

  .custom-bullet.active {
    background: #00DA7B;
  }
}