#footer {
  padding: 50px 0;
  background-color: #000000;
  color: #FFFFFF;

  .main-text {
    h2 {
      font-weight: 500;
      font-size: 24.99px;
      line-height: 100%;
      color: #EE9026;
      margin-bottom: 24px;
    }
    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 35px;
      width:80% ;
    }

  }

  .services {
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 20px;
    }

    li {
      margin-bottom: 16px;

      a {
        color: #FFFFFF;
        transition: color 0.2s ease;

        &:hover {
          color: #EE9026;
        }
      }
    }
    .foot-contact {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 16px;

      .icons {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 24px;
          height: 24px;
          color: #777777;
        }
      }

      .content {
        span {
          display: inline-block;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: #777777;
          margin-bottom: 8px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          a {
            color: #FFFFFF;
            transition: color 0.2s ease;

            &:hover {
              color: #EE9026;
            }
          }
        }
      }
    }
  }
  .social{
    .icons{
      display: flex;
      align-items: center;
      gap: 10px;
      .icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color:  #EBEBEB;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        a{
          display: flex;
          justify-content: center;
          align-items: center;
          color: #2F2F2F;
          font-size: 20px;
          transition: all 0.2s ease;
          &:hover{
            color: #EE9026;
          }
        }

      }
    }
  }
  .created{
    color: #CDCDCD;
    font-size: 14px;
    .createdBy{
      text-align: end;
      a{
        color: white;
        font-weight: 500;
        cursor: pointer;
      }
    }
    @media (max-width: 768px) {
      .createdBy{
        text-align: start;
      }
    }
  }
}