#category-servis-add{
  .category-servis-add{
    .root{
      h2 {
        font-size: 12px;
        margin-bottom: 12px;
        display: flex;
        gap: 6px;
        align-items: center;
        font-weight: 500;
        .link {
          color: #5b5b5b;
          text-decoration: none;
        }
      }
    }
    .category-servis-add-head{
      margin-bottom: 32px;
      h1{
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 8px;
      }
      p{
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #7E7E7E;
        margin: 0;
      }
    }
    .category-servis-add-main{
      .category-servis-add-data{
        display: flex;
        //align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 24px;
        .dataDiv{
          border: 1px solid #EBEBEB;
          width: 50%;
          border-radius: 5px;
          padding: 24px 36px;
          //height: 328px;
          &.inputs{
            .header{
              margin-bottom: 16px;
              h3{
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                margin-bottom: 8px;
              }
              p{
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                color: #7E7E7E;
                margin: 0;
              }
            }
            .add-data{
              display: flex;
              width: 100%;
              gap: 8px;
              align-items: center;
              margin-bottom: 12px;
              &:last-child{
                margin-bottom: 0;
              }
              .add-input{
                flex: 1;
                height: 36px;
                input{
                  width: 100%;
                  height: 36px;
                  border: 0.5px solid #B7B7B7;
                  border-radius: 5px;
                  padding: 0 10px;
                  font-size: 12px;
                  outline: none;
                  &::placeholder{
                    font-size: 12px;
                  }
                  &:focus{
                    outline: none;
                    border: 0.5px solid #0A4080;
                  }
                }
              }
            }
          }
          &.images{
            .header{
              margin-bottom: 8px;
              padding: 11px 15px;
              border: 0.5px solid #D4D4D4;
              border-radius: 5px;
              h3{
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                margin-bottom: 8px;
              }
              p{
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                color: #7E7E7E;
                margin: 0;
              }
            }
            .addCategory {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 10px;
              max-height: 200px;
              overflow-y: auto;
              padding: 11px 15px;
              border: 0.5px solid #D4D4D4;
              border-radius: 5px;
              .checkboxItem {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 13px;
                color: #3c3c3c;
                cursor: pointer;

                input[type="checkbox"] {
                  appearance: none;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  width: 18px;
                  height: 18px;
                  border: 1px solid #d1d1d1;
                  border-radius: 4px;
                  background-color: #fff;
                  cursor: pointer;
                  display: grid;
                  place-items: center;
                  transition: all 0.2s ease;
                  position: relative;

                  box-shadow: 0px 1px 1px 0px #0000001A;

                  &:hover {
                    border-color: #527fe9;
                  }

                  &:checked {
                    background-color: #fff;
                    border-color: #0C4281;
                  }

                  &:checked::after {
                    content: "✓";
                    color: #094080;
                    font-size: 12px;
                    font-weight: 700;
                  }
                }

                span{
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 100%;
                  color: #4B4B4B;
                }
              }

              /* custom scrollbar eyni qalsın */
              &::-webkit-scrollbar {
                width: 4px;
              }
              &::-webkit-scrollbar-track {
                background: #ebebeb;
                border-radius: 10px;
              }
              &::-webkit-scrollbar-thumb {
                background-color: #1d2b70;
                border-radius: 10px;
              }
            }

          }
        }
      }
      .category-servis-desc{
        border: 1px solid #EBEBEB;
        padding: 24px 32px;
        border-radius: 5px;
        margin-bottom: 24px;
        .header{
          margin-bottom: 16px;
          h3{
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            margin-bottom: 6px;
          }
          p{
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            color: #7E7E7E;
          }
        }
        .category-servis-desc-data{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 16px;
          .category-servis-desc-texts{
            width: 49%;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            textarea{
              width: 100%;
              height: 100%;
              border: 1px solid #DFDFDFD6;
              resize: none;
              border-radius: 10px;
              outline: none;
              padding: 12px;
              font-size: 12px;
              &:focus{
                outline: none;
                border: 0.5px solid #0A4080;
              }
            }
          }
        }
      }
      button{
        width: 100%;
        height: 40px;
        background-color: #0A4080;
        border: none;
        border-radius: 8px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        &:disabled{
          background-color: #527fe9;
          cursor: not-allowed;
        }
      }
    }
  }
}