.custom-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 97%;
  padding: 20px 0;
  margin: 0 auto;

  .slider-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 10px 0;
    width: 100%;
    scrollbar-width: none; /* Firefox için scrollbar gizleme */
    -ms-overflow-style: none; /* IE ve Edge için scrollbar gizleme */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari için scrollbar gizleme */
    }

    .slider-item {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 132px;
      height: 132px;
      padding: 26px 12px;
      text-align: center;
      transition: all 0.3s ease;
      border-radius: 3px;
      border: 1px solid #F5F5F5;
      background: #FFF;
      box-shadow: 1px 2px 9.9px 0px rgba(54, 223, 157, 0.19);



      .icon {
        width: 40px;
        height: 40px;
        aspect-ratio: 1/1;
        font-size: 24px;
        margin-bottom: 8px;
        img{
          width: 100%;
          height: 100%;
        }
      }

      span {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease;
 @media screen and (max-width: 576px){
   display: none;
 }
    &:hover {
      background-color: #f0f0f0;
    }

    &.left {
      left: -20px;
    }

    &.right {
      right: -20px;
    }

    svg {
      font-size: 18px;
      color: #666;
    }
  }
}