#adminNavbar{
  position: relative;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
align-content: center;
  padding: 0 32px;
  .left{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    background-color: rgba(133, 176, 227, 0.04);
  }
  .adminNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      width: 120px;
      position: relative;
      img{
        object-fit: cover;
      }
    }
    .navMain{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0.8;
      .searchDiv{
        flex: 0.7;
        position: relative;
        width:  50%;
        height: 40px;
        input{
          width: 100%;
          height: 100%;
          padding:0 16px;
          border: 1px solid #EBEBEB;
          border-radius: 10px;
          outline: none;
          &::placeholder{
            font-size: 14px;
          }
        }
        .searchIcon{
          position: absolute;
          right: 16px;
          width: 20px;
          height: 20px;
          top: 50%;
          transform: translateY(-50%);
          img{
            color:#474747;
          }
        }
      }
      .navRight{
        display: flex;
        align-items: center;
        gap: 12px;

        .hrXett{
          width: 1px;
          height: 30px;
          background-color: #EBEBEB;
        }
        .profileDiv{
          display: flex;
          align-items: center;
          gap: 8px;
          .profilIcon{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #EEF9FC;
            border-radius: 50%;
          }
          .contentProfil{
            h5{
              font-weight: 500;
              font-size: 14px;
              line-height: 100%;
              margin-bottom: 4px;
            }
            p{
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              margin: 0;
              color: #737373;
            }
          }
        }
      }
    }
  }

}