#home-best-service {
  margin-bottom: 140px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 16px;

    .content {
      width: 64%;

      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 60px;
        margin-bottom: 8px;
      }


    }
    @media screen and (max-width: 576px){
      display: block;
      margin-bottom: 32px;
      .content{
        width: 100%;
        h2{
          font-size: 20px;
          line-height: 30px; /* 150% */
        }
      }
    }
    .navigationBtn {
      display: flex;
      align-items: center;
      gap: 8px;
      @media (max-width: 576px) {
        display: none;
      }

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 16px;
        cursor: pointer;

        &.prev {
          background-color: white;
          border: 1px solid #303030;
          color: #303030;
        }

        &.next {
          background-color: #1f1f1f;
          color: #fff;
        }
      }
    }
  }
  .slider-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .slider-card {
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% * 4 / 4); // Default: 4 cards
    transition: transform 0.3s ease-in-out;
  }

  .slider-card > * {
    flex: 0 0 25%; /* Each card takes 25% for desktop (4 cards) */
    box-sizing: border-box;
    padding: 0 10px; /* Optional: spacing between cards */
  }

  /* Mobile: Show 2 cards at a time */
  @media (max-width: 768px) {
    .slider-card {
      width: calc(100% * 6 / 3); // Adjust for 2 cards visible (6 cards total)
    }

    .slider-card > * {
    }
  }
}