#home-best-service {
  margin-bottom: 140px;
  padding: 60px 0 ;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 16px;

    .content {
      width: 64%;

      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 8px;
      }
      p{
        color: #727272;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
      }


    }
    @media screen and (max-width: 576px){
      display: block;
      margin-bottom: 32px;
      .content{
        width: 100%;
        h2{
          font-size: 20px;
          line-height: 30px; /* 150% */
        }
      }
    }
    .navigationBtn {
      display: flex;
      align-items: center;
      gap: 8px;
      @media (max-width: 576px) {
        display: none;
      }

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        cursor: pointer;

        border: 0.864px solid #003778;
        background: #FFF;
        &:hover {
          border: 1px solid #003778;
          background: #EBF5FF;
          box-shadow: 0 1px 4px 0 rgba(60, 60, 60, 0.25);
        }
      }
    }
  }
  .slider-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .slider-card {
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% * 4 / 4); // Default: 4 cards
    transition: transform 0.3s ease-in-out;
  }

  .slider-card > * {
    flex: 0 0 25%; /* Each card takes 25% for desktop (4 cards) */
    box-sizing: border-box;
    padding: 0 10px; /* Optional: spacing between cards */
  }

  /* Mobile: Show 2 cards at a time */
  @media (max-width: 768px) {
    .slider-card {
      width: calc(100% * 6 / 3); // Adjust for 2 cards visible (6 cards total)
    }
    .custom-pagination {
      text-align: center;
      margin-top: 60px;

      @media screen and (max-width: 576px) {
        margin-top: 30px; /* Adjust spacing for mobile */
      }
    }

    .custom-bullet {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 3px;
      background: none;
      border: 0.76px solid #D3D3D3;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s;
      @media screen and (max-width: 576px) {
        width: 8px;
        height: 8px;
      }
    }

    .custom-bullet.active {
      background: #00DA7B;
    }

  }

}