#homeServCard{
 padding: 44px 30px;
  border-radius: 22px;
  border: 1px solid #E8E8E8;
 cursor: pointer;

 transition: all 0.3s ease-in-out;
 @media screen and (max-width: 576px) {
 padding: 16px 21px;
 }
 &:hover{
  border-radius: 22px;
  border: 1px solid #00DA7B;
  background: rgba(230, 255, 245, 0.44);
 }
 .icons{
  width: 74px;
  height: 74px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0.5px solid #D5D5D5;
  box-shadow: 0px 1px 16.8px 2px #36DF9D30;
 margin-bottom: 16px;
  @media screen and (max-width: 576px) {
   width: 55px;
   height: 55px;
   img{
    width: 23px;
   }
  }
  img{
   width: 36px;
   aspect-ratio: 1/1;
   object-fit: cover;
  }
 }
 h4{
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (max-width: 576px) {
   font-size: 14px;
   font-weight: 600;
  }
 }
 p{
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
 color: #686868;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (max-width: 576px) {
   font-size: 12px;
   font-weight: 500;
   line-height: 18px; /* 150% */
  }
 }
 .btn{
  display: flex;
  justify-content: end;
  align-items: center;
  button{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
   border: none;
   font-weight: 500;
   background: linear-gradient(90deg, rgba(0, 0, 0, 0.82), #37DEA182  100%, #418588 100%);   -webkit-background-clip: text;
   color: transparent;
  }
 }
}
