#title{
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  padding:  0 16px;
  h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    color: #939393;
    width: 60%;
  }
  @media screen and (max-width: 576px){
    margin-bottom: 32px;
    h2{
      font-size: 20px;
      line-height: 30px; /* 150% */
    }
    p{
      width: 100%;
      font-size: 14px;
      line-height: 21px; /* 150% */
    }
  }
}