.comment-card-container {
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 576px){
    width: 90%;
  }

  .comment-card-slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }

  .comment-card {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    //min-height: 350px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;

  }

  .comment-author {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .text {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .navigationBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    z-index: 10;
  }

  .prev,
  .next {
    background: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 0.864px solid #003778;
    background: #FFF;
    &:hover {
      border: 1px solid #003778;
      background: #EBF5FF;
      box-shadow: 0 1px 4px 0 rgba(60, 60, 60, 0.25);
    }
  }

  .prev:disabled,
  .next:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .quote-icon img {
    width: 35px;
    height: 35px;
    display: block;
  }

  .comment-card p {
    font-size: 14px;
    color: #333;
    line-height:21px;

  }

  .text .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .name {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }

  .country {
    font-size: 14px;
    color: #666;
  }
}

.profile-thumbnails {
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  @media screen and (max-width: 576px){
    display: none;
  }

  .thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}