#doktorCard2{

  border: 1px solid #E8E8E8;
  padding: 30px 60px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  @media screen and (max-width: 576px){
    padding: 20px 27px 0;
  }
.svg{
  position: absolute;
  left: 0;
  top:30px;
  height: 28px;
  .svgText{
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #FE9754;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
  .image{
    border-radius: 50%;
    width: 95px;
    height: 95px;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 20px;
    transition: all 1.5s ease-in-out;
    @media screen and (max-width: 576px) {
      margin-bottom: 10px;
    }
    img{
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
  .content{
    text-align: center;
    h5{
      color: #1F1F1F;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 4px;
    }
    p{
      color: #8D8D8D;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 24px;
    }
    .position{
      border-radius: 2px;
      background: #F8FBFF;
      padding: 8px 14px;
      color: #4070C2;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.36px;
      text-transform: uppercase;
    }
  @media screen and (max-width: 576px){
    margin-bottom: 10px;
    h5{
      font-size: 14px;
      line-height: normal;
      margin-bottom: 10px;
    }
    p{
      font-size: 12px;
      line-height: normal;
    }
  }
  }
  button{
    background: none;
    border: none;
    font-size: 25px;
    color: rgba(10, 202, 133, 0.51);
    cursor: pointer;
  }
}