#home-services {
  padding: 70px 0;
  @media screen and (max-width: 576px) {
    padding: 70px 8px;
  }



  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;

    .title {
      padding: 0 8px;
      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 8px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #727272;
      }

      @media screen and (max-width: 576px) {
        h2 {
          font-size: 20px;
          font-style: normal;
          line-height: 30px; /* 150% */
        }
        p{
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
      }
    }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 16px;
    border: none;
    font-weight: 500;
    background: linear-gradient(90deg, #0063A6, #0B93EF);  -webkit-background-clip: text;
    color: transparent;
  }

  }
  .hamisiniBax{
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto 0;
    font-size: 12px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;

    .col-6 {
      padding: 8px 8px 24px 8px;
      width: 50%;
      box-sizing: border-box;
      @media screen and (max-width: 576px) {
        display: none;
      }
      .videos {
        border-radius: 22px;
        overflow: hidden;
        height: 310px !important;

        @media screen and (max-width: 576px) {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover; /* Ensures the video fills the container without distortion */
          display: block;
          border-radius: 22px;
        }
      }
    }
  }
}