#adminPage {
  padding: 8px;

  .adminPage{
    background-color: #F6F8FB;
    padding: 8px;
    width: 100%;
    border-radius: 15px;
  }
  .adminRightBar {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    padding: 40px 80px;
    height: calc(100vh - 128px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Arxa fon (track) */
    &::-webkit-scrollbar-track {
      background: #ebebeb;
      border-radius: 10px;
      margin: 2px 0; // üst və alt boşluq (ox yerinə)
    }

    /* Bar hissəsi (thumb) */
    &::-webkit-scrollbar-thumb {
      background-color: #1d2b70; // navy blue
      border-radius: 10px;
      min-height: 30px; // həddindən artıq incə olmasın
      transition: background 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #142058; // hover effekti
    }

    /* Oxları tamamilə gizlə */
    &::-webkit-scrollbar-button {
      display: none;
      height: 0;
      width: 0;
    }
  }
}