#tour-detail{
  padding: 140px 0 100px;
  position: relative;
  @media screen and (max-width: 576px) {
    padding: 120px 0 100px;
    .col-xs-12{
      padding: 8px 16px;
    }
    .order1{
      order: 1;
    }
    .order2{
      order: 2;
    }
  }
  .bannerAbout{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    z-index:-1;
    transform: rotate(2deg);
    img{
      width: 100%;
      height: 100%;

    }
    @media screen and (max-width: 576px) {
      height: 230px;
      top: 0;
    }
  }
  .head {
    width: 100%;
    text-align: center;
    margin-bottom: 250px;
    h1 {
      color: #191919;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 187.5% */
    }
    p {
      margin-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #686868;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */

      .dot {
        width: 12px;
        height: 12px;

        border-radius: 50%;
        margin: 0 8px 0 16px;
      }
      .dot1{
        background-color: #CFCFCF;
      }
      .dot2{
        background-color: #003778;
      }
      a {
        color: #686868;
        transition: all 0.3s ease-in-out;

        &:hover {
          font-weight: 500;
        }
      }
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 63px;
      h1{
        font-size: 16px;
        line-height: 21px; /* 150% */
        margin-bottom: 6px;
      }
      p{
        margin-top: 0;
        font-size: 12px;
        line-height: 24px; /* 171.429% */
        .dot{
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    width: 100%;
    max-width: 700px;
  }

  .image1,
  .image2,
  .image3 {
    border-radius: 6px;
    overflow: hidden;
  }

  .image1 img,
  .image2 img,
  .image3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Soldakı 2 şəkil */
  .image1 {
    grid-column: 1;
    grid-row: 1;
  }
  .image2 {
    grid-column: 1;
    grid-row: 2;
  }

  /* Sağdakı böyük şəkil */
  .image3 {
    grid-column: 2;
    grid-row: 1 / 3; /* 2 sətir tutur */
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h2{
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 12px;
    }
    p{
      color: #202020;
      font-weight: 400;
      font-size: 14px;
      line-height: 29px;
      margin-bottom: 12px;
    }
    @media screen and (max-width: 576px) {
      h2{
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 6px;
      }
      p{
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 12px;
      }
    }
    .col-6{
      padding: 8px;
      @media screen and (max-width: 576px) {
        padding: 8px 0;
      }
    }
    .row{
      margin-bottom: 16px;
      .col-30{
        padding: 8px 8px 0 0;

      }
    }
    .teklif{
      display: flex;
      align-items: center;
      gap: 8px;
      h5{
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        color: #707070;
        margin: 0;
        @media screen and (max-width: 576px){
          font-size: 12px;
        }
      }
    }
    button{
      width: 100%;
      border-radius: 26px;
      padding: 12px 0;
      border: none;
      background-color: #003778;
      color: #FFFFFF;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

    }
  }
  .contact{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    padding: 64px 109px 65px 109px;
    position: relative;
    overflow: hidden;
    margin: 0 16px 70px 16px;
    .orange{
      position: absolute;
      left: 0;
      bottom: -50px;
      width: 250px;
      height: 200px;
      img{
        width: 100%;
      }
    }
    .blueIcon{
      width: 22px;
      height: 22px;
      img{
        width: 100%;
      }
    }
    .whiteIcon{
      width: 20px;
      height: 20px;
      position: relative;
      left:25px;
      top:-10px;
      img{
        width: 100%;
      }
    }
    @media (max-width: 576px) {
      padding: 20px;
    }
    .row{
      align-items: center;
    }
    .form {
      .form-head {
        color: #111111;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        gap: 16px;

        hr {
          width: 10%;
          color: #000000;
          border: 1px solid #000000;
        }

        h2 {
          color: #000;
          font-weight: 600;
          font-size: 18px;
          line-height: 30px;
          width: 70%;
          @media (max-width: 576px) {
            width: 100%;
          }
        }
      }

      .form-body {
        width: 100%;
        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 10px;
        }

        input {
          width: 100%;
          height: 55px;
          border-radius: 8px;
          border: 1px solid #EBEBEB;
          box-shadow: 2px 2px 3px 0px #D1D1D140;
          padding: 17px 22px 17px 22px;
          outline: none;
        }

        textarea {
          width: 100%;
          border-radius: 8px;
          border: 1px solid #EBEBEB;
          box-shadow: 2px 2px 3px 0px #D1D1D140;
          padding: 17px 22px 17px 22px;
          outline: none;
          resize: none;
        }

        button {
          width: 100%;
          padding: 14px 22px;
          background-color: #003778;
          color: white;
          border: none;
          border-radius: 23px;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          cursor: pointer;
        }
      }
    }
    .image{
      width: 100%;
      img{
        width: 100%;
        height: 100%;
      }
      @media screen and (max-width: 576px){
        text-align: center;
        img{
          width:80%;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
