#doktorDetail {
  padding: 140px 16px;
  @media screen and (max-width: 576px){
    padding: 120px 16px;
  }
  .bannerAbout{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    z-index:-1;
    transform: rotate(2deg);
    img{
      width: 100%;
      height: 100%;

    }
    @media screen and (max-width: 576px) {
      height: 210px;
      top: 0;
    }
  }
  .head {
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
    h1 {
      color: #191919;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 187.5% */
    }
    p {
      margin-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #686868;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */

      .dot {
        width: 12px;
        height: 12px;

        border-radius: 50%;
        margin: 0 8px 0 16px;
      }
      .dot1{
        background-color: #CFCFCF;
      }
      .dot2{
        background-color: #003778;
      }
      a {
        color: #686868;
        transition: all 0.3s ease-in-out;

        &:hover {
          font-weight: 500;
        }
      }
    }
    .search{
      position: relative;
      width: 40%;
      margin:24px auto;
      height: 40px;
      input{
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #E4E4E4;
        background: #FFF;
        outline: none;
        padding: 0 16px;
        &::placeholder {
          color: #9A9A9A;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      svg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
      }
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 52px;
      h1{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 6px/* 150% */
      }
      p{
        margin-top: 0;
        font-size: 12px;
        line-height: 24px; /* 171.429% */
        .dot{
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .doktorContainer {
    margin: 0 auto;

    .doktor {
      display: flex;
      max-width: 497px;
      gap: 14px;
      margin-bottom: 50px;

      .image {
        aspect-ratio: 1 / 1;
        max-width: 150px;
        width: 100%;
        max-height: 150px;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        padding: 12.5px 7px;

        @media screen and (max-width: 576px) {
          padding: 0 7px;
        }

        h2 {
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 12px;

          @media screen and (max-width: 576px) {
            margin-bottom: 8px;
          }
        }

        p {
          color: #505050;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          margin-bottom: 8px;
        }

        .stars {
          margin-bottom: 16px;
        }

        .about {
          display: flex;


          gap: 24px;
          align-items: center;
          @media screen and (max-width: 576px) {
            flex-wrap: wrap;
            gap: 5px;
          }
          div {
            display: flex;
            align-items: center;
            gap: 8px;
          }

          span {
            color: #828282;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */

            @media screen and (max-width: 576px) {
                font-size: 12px;
            }
          }
        }

        @media screen and (max-width: 576px) {
          h2 {
            font-size: 16px;
            line-height: 21px; /* 131.25% */
          }
          p {
            font-size: 12px;
            line-height: 21px; /* 150% */
          }
          .stars {
            margin-bottom: 8px;
          }
        }
      }

    }

    .doktorDetail {
      padding: 49px;
      border-radius: 15px;
      border: 0.95px solid #E5E5E5;
      background: #FFF;

      .first-section {
        padding: 0 8px;
        margin-bottom: 32px;
        .row{
          .col-30{
            padding: 8px;
          }
        }
        h2 {
          color: #2C2C2C;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 21px; /* 116.667% */
          margin-bottom: 32px;
          margin-left: 8px;
        }

        .bio {
          display: flex;
          gap: 8px;
          margin-bottom: 16px;

          h3 {
            color: #2C2C2C;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px; /* 131.25% */
            margin-bottom: 8px;
          }

          p {
            color: #8C8C8C;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px; /* 150% */
            margin: 0 !important;
          }
        }
      }

      .second-section {
margin-left: 8px;
        h2 {
          padding: 0 8px;
          color: #2C2C2C;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          margin-bottom: 16px;
        }
      }

      @media screen and (max-width: 576px) {
        padding: 0;
        border: none;
      }
    }
  }
}